{% extends 'base_template.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/receiving-styles.css' %}" rel="stylesheet" type="text/css" id="app-stylesheet"/>
{% endblock %}

{% block content %}


    <form id="casting-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Casting Details</h3>
                    <div class="card-box">
                        <div class="row">
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="service_no">Casting no</label>
                                    <input type="text" name="casting_no" disabled
                                            class="form-control" id="casting_no" value="{{ next_casting_no }}">
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="customer_name">Customer Name</label>
                                    <input value="" type="text" name="customer_name" maxlength="50"
                                           required placeholder="Customer Name" class="form-control" id="customer_name">
                                    <ul id="customer-suggestions" class="suggestions"></ul>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="customer_phone">Customer Phone</label>
                                    <input value="" type="text" name="customer_phone"
                                           placeholder="Customer Phone" class="form-control" id="customer_phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="karate">Karate</label>
                                    <input value="" type="text" name="karate" maxlength="50"
                                           required placeholder="Karate" class="form-control" id="karate">
                                    <ul id="karate-suggestions" class="suggestions"></ul>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input value="" type="text" name="color"
                                           placeholder="Color" class="form-control" id="color">
                                    <ul id="color-suggestions" class="suggestions"></ul>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="creation_date">Date</label>
                                    <input type="date" name="creation_date"
                                            required class="form-control" id="creation_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input value="" type="text" name="description" maxlength="200"
                                           placeholder="Description" class="form-control" id="description">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="capture">Casting Image</label>
                                    <div class="d-flex align-items-start">
                                        <!-- Preview Box -->
                                        <div id="image-preview"
                                             style="width: 345px; height: 246px; border: 1px solid #ccc; background: #eee; display: flex; align-items: center; justify-content: center;">
                                            <img id="receiving_image"
                                                 src="{% static 'img.png' %}"
                                                 alt="No Image"
                                                 style="width: 100%; height: 100%; object-fit: cover;">
                                        </div>

                                        <!-- Button & hidden fields -->
                                        <div class="ml-3">
                                            <button type="button" class="btn btn-primary btn-sm mb-2" id="captureBtn"
                                                    onclick="handleCapture()">&nbsp; Open Camera
                                            </button>
                                            <input type="hidden" name="captured_image" id="captured_image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Spacer + Hidden Video/Canvas Elements -->
                            <div class="col-lg">
                                <label for="capture" id="receiving_image_preview" style="display: none">Casting Image
                                    Preview</label>
                                <video id="video" width="160" height="120" autoplay
                                       style="display: none; border: 1px solid #ccc;"></video>
                                <canvas id="canvas" width="160" height="120" style="display: none;"></canvas>
                            </div>
                            <div class="col-lg">
                                <span></span>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg text-right">
                                <button type="submit" class="btn btn-success mt-3">
                                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp; Save and Print
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>


{% endblock %}

{% block scripts %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const customerInput = document.getElementById('customer_name');
            const karateInput = document.getElementById('karate');
            const colorInput = document.getElementById('color');
            const suggestionList = document.getElementById('customer-suggestions');
            const karateSuggestionList = document.getElementById('karate-suggestions');
            const colorSuggestionList = document.getElementById('color-suggestions');
            const dateInput = document.getElementById("creation_date");
            dateInput.valueAsDate = new Date();


            customerInput.addEventListener('input', function () {
                const query = this.value.trim();

                if (query.length > 2) {
                    fetch(`/customers/search/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            const suggestions = data.suggestions;
                            suggestionList.innerHTML = '';

                            if (suggestions.length > 0) {
                                suggestions.forEach(suggestion => {
                                    const listItem = document.createElement('li');
                                    listItem.textContent = `${suggestion.name} - ${suggestion.phone}`;
                                    listItem.style.cursor = 'pointer';

                                    listItem.addEventListener('click', function () {
                                        customerInput.value = suggestion.name;
                                        document.getElementById('customer_phone').value = suggestion.phone;
                                        suggestionList.style.display = 'none';
                                    });

                                    suggestionList.appendChild(listItem);
                                });

                                suggestionList.style.display = 'block';
                            } else {
                                suggestionList.style.display = 'none';
                            }
                        });
                } else {
                    suggestionList.style.display = 'none';
                    suggestionList.innerHTML = '';
                }
            });

            karateInput.addEventListener('input', function () {
                const query = this.value.trim();

                if (query.length > 0) {
                    fetch(`/casting/search/karate/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            const suggestions = data.suggestions;
                            karateSuggestionList.innerHTML = '';

                            if (suggestions.length > 0) {
                                suggestions.forEach(suggestion => {
                                    const listItem = document.createElement('li');
                                    listItem.textContent = `${suggestion.name}`;
                                    listItem.style.cursor = 'pointer';

                                    listItem.addEventListener('click', function () {
                                        karateInput.value = suggestion.name;
                                        karateSuggestionList.style.display = 'none';
                                    });

                                    karateSuggestionList.appendChild(listItem);
                                });

                                karateSuggestionList.style.display = 'block';
                            } else {
                                karateSuggestionList.style.display = 'none';
                            }
                        });
                } else {
                    karateSuggestionList.style.display = 'none';
                    karateSuggestionList.innerHTML = '';
                }
            });


            colorInput.addEventListener('input', function () {
                const query = this.value.trim();

                if (query.length > 1) {
                    fetch(`/casting/search/color/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            const suggestions = data.suggestions;
                            colorSuggestionList.innerHTML = '';

                            if (suggestions.length > 0) {
                                suggestions.forEach(suggestion => {
                                    const listItem = document.createElement('li');
                                    listItem.textContent = `${suggestion.name}`;
                                    listItem.style.cursor = 'pointer';

                                    listItem.addEventListener('click', function () {
                                        colorInput.value = suggestion.name;
                                        colorSuggestionList.style.display = 'none';
                                    });

                                    colorSuggestionList.appendChild(listItem);
                                });

                                colorSuggestionList.style.display = 'block';
                            } else {
                                colorSuggestionList.style.display = 'none';
                            }
                        });
                } else {
                    colorSuggestionList.style.display = 'none';
                    colorSuggestionList.innerHTML = '';
                }
            });


            document.addEventListener('click', function (event) {
                if (!customerInput.contains(event.target) && !suggestionList.contains(event.target)) {
                    suggestionList.style.display = 'none';
                }
            });
            // Close karate suggestions if clicked outside
            document.addEventListener('click', function (event) {
                if (!karateInput.contains(event.target) && !karateSuggestionList.contains(event.target)) {
                    karateSuggestionList.style.display = 'none';
                }
            });

            document.addEventListener('click', function (event) {
                if (!colorInput.contains(event.target) && !colorSuggestionList.contains(event.target)) {
                    colorSuggestionList.style.display = 'none';
                }
            });


            document.getElementById('customer_name').focus();

        });


    </script>

    <script>
        let videoStream = null;
        let cameraActive = false;

        function handleCapture() {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const receivingImage = document.getElementById('receiving_image');
            const captureBtn = document.getElementById('captureBtn');
            const previewLabel = document.getElementById('receiving_image_preview');

            if (!cameraActive) {
                // Start the camera
                navigator.mediaDevices.getUserMedia({video: true})
                    .then(stream => {
                        videoStream = stream;
                        video.srcObject = stream;
                        video.style.display = 'block';
                        previewLabel.style.display = 'block';
                        cameraActive = true;
                        captureBtn.textContent = 'Capture Image';
                    })
                    .catch(err => {
                        alert('Could not access the camera.');
                        console.error(err);
                    });
            } else {
                // Capture the image
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                const imageData = canvas.toDataURL('image/png');
                document.getElementById('captured_image').value = imageData;

                // Show image preview
                receivingImage.src = imageData;

                // Stop the video stream
                videoStream.getTracks().forEach(track => track.stop());
                videoStream = null;
                video.style.display = 'none';
                previewLabel.style.display = 'none';
                cameraActive = false;
                captureBtn.textContent = 'Open Camera';
            }
        }

    </script>

    <script>
        document.getElementById('casting-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);

            fetch("", {
                method: "POST",
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.print_url && data.redirect_url) {
                        window.open(data.print_url, '_blank');  // Open slip in new tab
                        window.location.href = data.redirect_url;  // Redirect current page
                    }
                })
                .catch(err => {
                    alert("Error submitting form.");
                    console.error(err);
                });
        });
    </script>



{% endblock %}